:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --base-color-logo: #2196f3;
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --background-footer-color: #2f303a;
}
/* html{     
  box-sizing: border-box;
}
*,
*::after,
*::before {
 /* box-sizing: inherit;   */

/* контейнер */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid tomato; */
  /* background-color: plum; */
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
.list-non {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* клас, щоб приховати заголовок */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* оформлення логотипу */
.logo {
  color: var(--base-color-logo);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-studio {
  color: #000;
  margin-right: 93px;
}

.logo-footer-studio {
  color: #ffffff;
}

/* хедер-новігація */

.page-header {
  /* background-color: rgb(204, 204, 204); */
 border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
/* контейнер навігації */
.main-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.site-nav {
  display: inline-flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  /* display: block; 
  padding-top: 32px;
  padding-bottom: 32px;*/

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* хедер-контакти */
.contact {
  display: flex;
}
.contact .item + .item {
  margin-left: 50px;
}
.contact-date {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
}
.contact .contact-date:hover,
.contact .contact-date:focus {
  color: var(--accent-color);
}

/* кнопка */
.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;

  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* кнопки портфоліо */
.button-portfolio {
 display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: #f5f4f4;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);  
}
.button-portfolio:hover{
  color: #ffffff;
  background-color: var(--accent-color);
}
.button-portfolio:focus{
  color: #ffffff;
  background-color: var(--accent-color);
}

.button-nav .button-portfolio.curent{
  background-color:var(--accent-color);
}
.button-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 0px;
  list-style: none;
}

/* секція героя (загрузити послугу)*/
.hero {
  background: #2f303a;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content {
  max-width: 696px;
}

.section-hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Заголовки секцій */
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title-list{
  padding: 0px;
  margin: 0px;
}
/* секція "Наші цінності */
.values-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: left;
  justify-content: space-between;
}
.values-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
}
.title{
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-text-color)
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text{
  font-size: 14px;
  line-height: 1.7;
}

.values-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.values-list .text {
  font-size: 14px;
  line-height: 1.7;
 }

 
/* Чим ми займаємося */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.grid-title {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 50px;
}

.team {
  background-color: var(--second-background-color);
}
.team .section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 50px;
}
.grid-team {
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.title-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.manager {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  margin-top: 10;
  /* margin-bottom: 0; */
}

/* Секція footer */
.section-footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-footer .adress {
  color: #ffffff;
  text-decoration: none;
}
.section-footer .contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-studio{
  margin-bottom: 20px;
}

/* кнопки портфодію */


/* Секція портфоліо */
.foto{
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.portfollio-list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfollio-list-description {
  font-size: 16px;
  line-height: 1.87;
}

.portfollio-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-left: -30px;
  margin-top: -30px;
  padding-top: 50px;
}
.portfollio-item{
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.foto{
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.button-nav{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.button-nav:not(:last-child){
  margin-right: 8px;
}
/* колір лого header: 000000, #2196F3 */
/* колір заголовків #212121 */
/* колір тексту <p>  і підписів під фото  #757575*/
/* кольори навігації #212121, акцент #2196F3 */
/* секція героя, h1 #FFFFFF,  */
/* вторинний колір фону #F5F4FA */
